/* Variables */

@light: #e6e6e6; // light blue
@dark: #444444; // text color
@dark-light: #977c55; // brown
@color: #6b93b9; // bright blue
@color-light: #a6af3f; // green
@width: 796px;
@font: 'Margarine', sans-serif;
@footer-height: 60px;
@page-bottom: @footer-height + 30px;

/* Mixins */

.overlay-mixin {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	opacity: 0;
	background: rgba(68,68,68,0.4);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.overlay-target-mixin {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding-top:90px;
	opacity: 1;
}

.footer-mixin {
	position:fixed;
	width:100%;
	height:@footer-height;
	bottom:0px;
	left:0px;
}

.section-mixin {
	width: @width;
	height: 100%;
	margin-bottom: @page-bottom;
	
}

.button-mixin {
	background-color:@color-light;
	font-size:24px;
	padding:10px 20px;
	a {
		color:@light;
		text-decoration:none;
		padding:10px 15px;
	}
	&:hover {
		background-color:@color-light;
	}
}

/* General */

body {
	font-family: @font;
	color: @dark;
	width:796px;
	height:100%;
	background-color: @light;
	margin:0 auto;
}

a {
	color:@dark;
	&:hover {
		color:@dark-light;
	}
}

input[type=submit] {
	background-color:@color;
	color:@light;
	border-width:0px;
	&:hover {
		background-color:@color-light;
	}
}

.auth-info {
	a {
		color:@color;
		text-decoration: none;
		&:hover {
			color:@color-light;
			text-decoration: underline;

		}
	}
	position:absolute;
	top:10px;
	right:0px;
}

/* Page specific */

header {
	width: @width;
	position:relative;
	margin-bottom:0px;
	#title {
		text-align: center;
		img {
			margin-top: 15px;
		}
		h1 {
			font-size: 48px;
			font-family: 'Unkempt', cursive;
			margin: 0px;
			a {
				text-decoration: none;
				&:hover {
					color: @dark;
				}
			}
		}
	}
}

section#landing {
	.section-mixin;
	.video {
		img {
			width: 100%;
			height:100%;
			cursor: pointer;
		}
		#video_player {
			display: none;
			object, embed {
				width: 100%;
				height: 100%;
			}
		}
	}
	p {
		font-size:24px;
	}
	.left_column {
		float:left;
		p {
			font-size: 18px;
			margin-top: 0px;
		}	
	}
	.right_column {
		float: right;
		p {
			font-size: 18px;
			margin-top: 0px;
		}
	}
	.credit {
		font-size: 14px;
	}
}

section#favorites {
	.section-mixin;

	#fav_search {
		width: @width * 6 / 7;
		font-size:36px;
	}
	
	#search_button {
		width: @width / 7 - 10;
		font-size: 32px;
	}

	#chosen_fav {

	}
}

footer.fav {
	.footer-mixin;
	line-height: 24px;
	background-color:@color;
	a {
		text-decoration: none;
		font-size:24px;
		color:@light;
		margin-right:30px;
		&:hover {
			color:@light;
		}
	}
	div {
		text-align:right;
		width:@width;
		height:100%;
		margin:0 auto;
	}
}

footer.index {
	background-color: @dark-light;

	.footer-mixin;
	.button {
		.button-mixin;
		margin-top: 4px;
		float:right;
	}
	&>div{
		width: @width;
		margin: 0 auto;
	}
}

/* Subpages */

#login, 
#register, 
#verify {
	.overlay-mixin;

	input {
		width: 375px;
		font-size:2.5em;
		margin:10px;
	}

	&>div{
		position: relative;
		opacity: 0;
		filter: alpha(opacity=0); /* internet explorer */
   		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
		width: 400px;
		margin: 0px auto 0px auto;
		padding: 10px;
		background-color:@light;
		overflow:hidden;
		-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
		-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 7px rgba(0,0,0,0.2);

		p {
			font-size:2.5em;
			margin:0px;
			a {
				text-decoration:none;
			}
			&.cancel {
				font-size:1em;
				text-align:right;
			}
		}

	}
}

#login:target,
#register:target,
#verify:target {
	.overlay-target-mixin;
	&>div {
		opacity: 1;
		filter: alpha(opacity=99); /* internet explorer */
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
	}
}
