/* Variables */

@light-blue: #C4D6FC; // light blue
@text: #444444; // text color
@brown: #C9A35C; // brown
@bright-blue: #6281C0; // bright blue
@bright-blue-light: #2552AB;
@green: #2552AB; // green
@green-light: #6281C0; // light green
@error: #b96b6b; // red
@width: 796px;
@font: 'Margarine', sans-serif;
@footer-height: 60px;
@page-bottom: @footer-height + 30px;

/* Mixins */

.overlay-mixin {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	opacity: 0;
	background: rgba(68,68,68,0.4);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.overlay-target-mixin {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding-top:90px;
	opacity: 1;
}

.footer-mixin {
	position:fixed;
	width:100%;
	height:@footer-height;
	bottom:0px;
	left:0px;
	-webkit-box-shadow: 0px -3px 4px rgba(67,107,145,0.4);
	-moz-box-shadow: 0px -3px 4px rgba(67,107,145,0.4);
	box-shadow: 0px -3px 4px rgba(67,107,145,0.4);
}

.section-mixin {
	width: @width;
	height: 100%;
	margin-bottom: @page-bottom;
	
}

.button-mixin {
	background-color:@green;
	font-size:24px;
	padding:10px 20px;
	a {
		color:@light-blue;
		text-decoration:none;
		padding:10px 15px;
	}
	&:hover {
		background-color:@green-light;
	}
}

/* General */

body {
	font-family: @font;
	color: @text;
	width:796px;
	height:100%;
	background-color: @light-blue;
	margin:0 auto;
}

a {
	color:@text;
	&:hover {
		color:@brown;
	}
}

input[type=submit] {
	background-color:@green;
	color:@light-blue;
	border-width:0px;
	&:hover {
		background-color:@green-light;
	}
}

.auth-info {
	a {
		color:@bright-blue;
		text-decoration: none;
		&:hover {
			color:@bright-blue-light;
			text-decoration: underline;

		}
	}
	position:absolute;
	top:10px;
	right:0px;
}

/* Page specific */

header {
	width: @width;
	position:relative;
	margin-bottom:0px;
	#title {
		text-align: center;
		img {
			margin-top: 15px;
		}
		h1 {
			font-size: 48px;
			font-family: 'Unkempt', cursive;
			margin: 0px;
			a {
				text-decoration: none;
				&:hover {
					color: @text;
				}
			}
		}
	}
}

section#landing {
	.section-mixin;
	.video {
		img {
			width: 100%;
			height:100%;
			cursor: pointer;
		}
		#video_player {
			display: none;
			object, embed {
				width: 100%;
				height: 100%;
			}
		}
	}
	p {
		font-size:24px;
		text-indent: 30px;
	}
	.left_column {
		float:left;
		p {
			font-size: 16px;
			margin-top: 0px;
		}	
	}
	.right_column {
		float: right;
		p {
			font-size: 16px;
			margin-top: 0px;
		}
	}
	.credit {
		font-size: 14px;
	}
}

section#favorites {
	.section-mixin;

	#fav_search {
		width: @width;
		font-size:18px;
	}

	#chosen_fav {

	}
}

footer.fav {
	background-color: @bright-blue;

	.footer-mixin;
	.up-button {
		.button-mixin;
		margin-top: 4px;
		float:right;
	}
	&>div{
		width: @width;
		margin: 0 auto;
	}
}

footer.index {
	background-color: @bright-blue;

	.footer-mixin;
	.reg-button {
		.button-mixin;
		margin-top: 4px;
		float:right;
	}
	&>div{
		width: @width;
		margin: 0 auto;
	}
}

/* Subpages */

#login, 
#register, 
#verify,
#done,
#stop {
	.overlay-mixin;

	input {
		width: 375px;
		font-size:2.5em;
		margin:10px;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */ 
	}

	&>div{
		position: relative;
		opacity: 0;
		filter: alpha(opacity=0); /* internet explorer */
   		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
		width: 400px;
		margin: 0px auto 0px auto;
		padding: 10px;
		background-color:@light-blue;
		overflow:hidden;
		-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
		-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 7px rgba(0,0,0,0.2);

		p {
			font-size:2.5em;
			margin:0px;
			a {
				text-decoration:none;
			}
			&.cancel {
				font-size:1em;
				text-align:right;
			}
			&.error {
				color:@error;
				font-style: italic;
				font-size: .8em;
			}
		}
		.phone {
			float:left;
			&.area {
				width:375/9*3-30px !important;
			}
			&.first {
				width:375/9*3-30px !important;
			}
			&.last {
				width: 375/9*4-30px !important;
			}
		}

	}
}

#login:target,
#register:target,
#verify:target,
#done:target,
#stop:target {
	.overlay-target-mixin;
	&>div {
		opacity: 1;
		filter: alpha(opacity=99); /* internet explorer */
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
	}
}
